# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Logs
logs/
*.log

# Environment files
.env
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Sequelize
*.sqlite
*.sqlite3

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Others
coverage/
.cache/
